<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ETSY Search Page</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>

    </header>
    <main>
      <section id="primary-content">


      </section>

      <aside id="sidebar">
        <p class = "heading">Show results for:</p>
        <div class="categories">
          <p><a href="#">All Categories</a></p>
          <ul>
            <li><a href="#">Jewelry</a></li>
            <li><a href="#">Books, Movies & Music</a></li>
            <li><a href="#">Art & Collectibles</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Craft Supplies & Tools</a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Bags & Purses</a></li>
            <li><a href="#">Paper & Party Supplies</a></li>
            <li><a href="#">Electronics & Accessories</a></li>
            <li><a href="#">Bath & Beauty</a></li>
            <li><a href="#">Toys & Games</a></li>
            <li><a href="#">Weddings</a></li>
            <li><a href="#">Pet Supplies</a></li>
          </ul>
        </div>

        <p class="heading">Refine your search</p>
        <div class="refineSearch">
          <div class="searchType">
            <p>Item Type</p>
            <form>
              <a href="#">
                <input type="radio" value="All Items" checked>All Items
              </a>
              <br>
              <a href="#">
                <input type="radio" value="Handmade">Handmade
              </a>
              <br>
              <a href="#">
                <input type="radio" value="Vintage">Vintage
              </a>
            </form>
          </div>

          <div class="searchType">
            <p>Price</p>
            <form type="text">
              <input type="text" placeholder="Low" name="lowPrice">
              <span>to</span>
              <input type="text" placeholder="High" name="lowPrice">
              <input type="submit" value="|>">
            </form>
          </div>

          <div class="searchType">
            <p>Filter by Color</p>
            <ul class = "colors">
              <li>
                <a href="#"><div id="red"></div></a>
              </li>
              <li>
                <a href="#"><div id="orange"></div></a>
              </li>
              <li>
                <a href="#"><div id="yellow"></div></a>
              </li>
              <li>
                <a href="#"><div id="green"></div></a>
              </li>
              <li>
                <a href="#"><div id="blue"></div></a>
              </li>
              <li>
                <a href="#"><div id="purple"></div></a>
              </li>
              <li>
                <a href="#"><div id="black"></div></a>
              </li>
              <li>
                <a href="#"><div id="white"></div></a>
              </li>
            </ul>
          </div>

          <div class="searchType">
            <p>Ordering Options</p>
            <form>
              <a href="#"><input type="checkbox">Accepts Etsy Gift Cards</a>
              <br>
              <a href="#"><input type="checkbox">Customizable</a>
            </form>
          </div>

          <div class="searchType">
            <form>
              <a href="#"><input type="radio" checked>Anywhere</a>
              <br>
              <a href="#"><input type="radio">Choose a custom location</a>
            </form>
          </div>

          <div id="searchType">
            <p>Ship To</p>
            <select>
               <option value="United States">United States</option>
               <option value="Australia">Australia</option>
               <option value="Canada">Canada</option>
               <option value="France">France</option>
               <option value="Germany">Germany</option>
               <option value="Greece">Greece</option>
               <option value="Ireland">Ireland</option>
               <option value="Italy">Italy</option>
               <option value="Japan">Japan</option>
               <option value="New Zealand">New Zealand</option>
               <option value="Portugal">Portugal</option>
               <option value="Russia">Russia</option>
               <option value="Spain">Spain</option>
               <option value="The Netherlands">The Netherlands</option>
               <option value="Middle Earth">Middle Earth</option>
               <option value="Mordor">Mordor</option>
            </select>
          </div>

        </div>
      </aside>

    </main>

    <section class="footer">
      <div class="footer1">
        <p>Get top trends and fresh editors' picks in your inbox with Etsy Finds.</p>
        <form action="demo_form.asp">
          <input type="text" placeholder="Enter your email">
          <input type="submit" value="Subscribe">
        </form>
      </div>
      <div class="footer2">
        <div class="footerCol">

        </div>
        <div class="footerCol">

        </div>
        <div class="footerCol">

        </div>
        <div class="footerCol">

        </div>
        <div class="footerCol">

        </div>
      </div>
    </section>

    <script type="text/template" id="itemTemplate">
      <div class="item">
        <a href="<%- imgUrl %>">
          <img src="<%- image %>" alt="Item Image" />
        </a>
        <a href="<%- imgUrl %>" class="title-row">
          <p><%- subtitle() %></p>
        </a>
        <div class="meta-row">
          <a href="<%- shopUrl %>"> <%- shop %> </a>
          <p><%- priceTag() %></p>
        </div>
      </div>
    </script>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
