<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ETSY Search Page</title>
  </head>
  <body>
    <header>

    </header>
    <main>
      <section id="primary-content">

      </section>

      <aside id="sidebar">
        <p>Show results for:</p>
        <div class="categories">
          <p><a href="#">All Categories</a></p>
          <ul>
            <li><a href="#">Jewelry</a></li>
            <li><a href="#">Books, Movies & Music</a></li>
            <li><a href="#">Art & Collectibles</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Craft Supplies & Tools</a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Bags & Purses</a></li>
            <li><a href="#">Paper & Party Supplies</a></li>
            <li><a href="#">Electronics & Accessories</a></li>
            <li><a href="#">Bath & Beauty</a></li>
            <li><a href="#">Toys & Games</a></li>
            <li><a href="#">Weddings</a></li>
            <li><a href="#">Pet Supplies</a></li>
          </ul>
        </div>

        <div class="refineSearch">
          <p>Refine your search</p>

        <div id="itemType">
          <p>Item Type</p>
          <ul>
            <li><a href="#">All Items</a></li>
            <li><a href="#">Handmade</a></li>
            <li><a href="#">Vintage</a></li>
          </ul>
        </div>

        <div id="price">
          <p>Price</p>
          <span></span>
        </div>

        <div id="filterByColor">
          <p>Filter by Color</p>
        </div>

        <div id="orderOptions">
          <p>Ordering Options</p>
            <ul>
              <li><a href="#">Accepts Etsy Gift Cards</a></li>
              <li><a href="#">Customizable</a></li>
            </ul>
        </div>

        <div class="shopLoc">
          <ul>
            <li><a href="#">Anywhere</a></li>
            <li><a href="#">United States</a></li>
            <li><a href="#">Choose a custom location</a></li>
          </ul>

        </div>

        <div id="shipTo">
          <p>Ship To</p>
        </div>

        </div>
      </aside>

    </main>

    <script type="text/template" id="itemTemplate">
      <div class="item">
        <a href="<%- imgUrl %>">
          <img src="<%- image %>" alt="Item Image" />
        </a>
        <p><%- title %></p>
      </div>
    </script>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
