html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

body {
  background-color: #F5F5F1;
  margin: 0; }
  body ul {
    padding: 0; }
  body li {
    list-style: none; }
  body main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
    body main::after {
      clear: both;
      content: "";
      display: table; }
    body main a {
      text-decoration: none; }

header {
  background-color: #fff;
  padding: 20px 0 15px 0; }
  header .header-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial,sans-serif; }
    header .header-content::after {
      clear: both;
      content: "";
      display: table; }
    header .header-content .header-inner {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 94.02914%; }
      header .header-content .header-inner:last-child {
        margin-right: 0; }
      header .header-content .header-inner .logo {
        float: left; }
      header .header-content .header-inner .search-bar {
        float: left; }
        header .header-content .header-inner .search-bar .search {
          margin: 0 0 0 20px;
          padding: 0 0 2px 10px;
          border: 1px solid #bcb7b3;
          border-radius: 3px;
          border-right: none;
          background: #f9f9f8;
          height: 34px;
          font-size: 14px;
          box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset; }
          header .header-content .header-inner .search-bar .search:focus {
            outline: none;
            border: 1px solid #34A8C4;
            background: #FFF;
            box-shadow: 0 0 0 1000px #fff inset; }
        header .header-content .header-inner .search-bar .search-button {
          border-left: none;
          border-radius: 3px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          line-height: 17px;
          height: 34px;
          padding: 7px 15px 8px;
          background-color: #34A8C4;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          color: #FFF;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
          font-size: 14px;
          font-weight: bold;
          left: -5px;
          top: 1px;
          position: relative; }
        header .header-content .header-inner .search-bar select {
          border: 1px solid #E5E5E5;
          border-radius: 3px;
          color: #666;
          background-color: #fff;
          font-size: 14px;
          height: 35px; }
      header .header-content .header-inner .account-nav {
        margin: 0;
        float: right; }
        header .header-content .header-inner .account-nav li {
          display: inline-block; }
        header .header-content .header-inner .account-nav a {
          color: #0192B5;
          text-decoration: none; }
        header .header-content .header-inner .account-nav .register-link, header .header-content .header-inner .account-nav .sign-in-link {
          padding: 8px;
          line-height: 16px;
          font-size: 14px;
          border-radius: 3px; }
        header .header-content .header-inner .account-nav .register-link {
          margin-right: 7px;
          border: 1px solid transparent; }
          header .header-content .header-inner .account-nav .register-link:hover {
            text-decoration: underline; }
        header .header-content .header-inner .account-nav .sign-in-link {
          margin-right: 18px;
          border: 1px solid #0192B5; }
          header .header-content .header-inner .account-nav .sign-in-link:hover {
            background: #F0FBFD; }
        header .header-content .header-inner .account-nav .cart span {
          color: #666; }
        header .header-content .header-inner .account-nav .cart .fa.fa-shopping-cart {
          font-size: 20px; }
        header .header-content .header-inner .account-nav .cart .text-link {
          color: #888;
          font-size: 12px; }

#sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 22.37878%;
  font-size: 13px;
  font-family: arial, sans-serif; }
  #sidebar:last-child {
    margin-right: 0; }
  #sidebar a {
    color: #0192B5;
    font-weight: normal; }
    #sidebar a:hover {
      text-decoration: underline; }
  #sidebar p {
    font-weight: 600;
    color: #555;
    margin: 0; }
    #sidebar p a {
      color: #555; }
  #sidebar .radio {
    height: 18px;
    width: 18px;
    margin-right: 5px; }
  #sidebar .heading {
    padding: 0 0 9px 0; }
  #sidebar .categories {
    background-color: #fff;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    border-radius: 3px;
    padding: 12px 12px 0 12px;
    margin: 0 0 24px 0; }
    #sidebar .categories li {
      padding: 0 0 6px 12px;
      line-height: 1.4; }
  #sidebar .refineSearch {
    background-color: #fff;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    border-radius: 3px;
    padding: 12px;
    line-height: 1.4; }
    #sidebar .refineSearch p {
      margin: 0 0 6px 0; }
    #sidebar .refineSearch .searchType {
      padding: 0 0 18px 0;
      margin: 0 0 18px 0;
      border-bottom: 1px solid #E1E3DF; }
      #sidebar .refineSearch .searchType .price {
        padding: 9px 12px 9px 22px;
        border-radius: 3px;
        border-color: rgba(0, 0, 0, 0.15);
        border-top-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        height: 38px;
        width: 34%; }
      #sidebar .refineSearch .searchType .submit {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        color: #555;
        font-size: 14px;
        font-weight: bold;
        height: 38px;
        line-height: 1.4;
        padding: 8px 12px;
        text-align: center; }
      #sidebar .refineSearch .searchType .colors {
        margin: 0; }
        #sidebar .refineSearch .searchType .colors div {
          border: 1px solid #e2e2e2;
          border-radius: 3px;
          height: 21px;
          width: 21px;
          padding: 1px; }
        #sidebar .refineSearch .searchType .colors #red {
          background-color: #f40b32; }
        #sidebar .refineSearch .searchType .colors #orange {
          background-color: #ff7f00; }
        #sidebar .refineSearch .searchType .colors #yellow {
          background-color: #f3cc0c; }
        #sidebar .refineSearch .searchType .colors #green {
          background-color: #0ac20a; }
        #sidebar .refineSearch .searchType .colors #blue {
          background-color: #0cccf3; }
        #sidebar .refineSearch .searchType .colors #purple {
          background-color: #a60cf3; }
        #sidebar .refineSearch .searchType .colors #black {
          background-color: #000; }
        #sidebar .refineSearch .searchType .colors li {
          display: inline-block; }
      #sidebar .refineSearch .searchType .checkbox {
        font-size: 16px; }
    #sidebar .refineSearch select {
      border-radius: 3px;
      border-color: rgba(0, 0, 0, 0.15);
      border-top-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 1px;
      background-color: #FFF;
      font-size: 14px;
      height: 38px;
      width: 100%; }
      #sidebar .refineSearch select:hover {
        border-color: #adaeaa; }

section#primary-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 69.2927%;
  float: right;
  font-family: Arial,sans-serif; }
  section#primary-content:last-child {
    margin-right: 0; }
  section#primary-content .results {
    float: left;
    display: block;
    margin-right: 3.40245%;
    width: 96.30706%;
    font-size: 13px;
    color: #555; }
    section#primary-content .results:last-child {
      margin-right: 0; }
    section#primary-content .results a {
      color: #0192B5; }
    section#primary-content .results .results-top {
      float: left;
      margin: 0; }
      section#primary-content .results .results-top span {
        font-weight: bold; }
    section#primary-content .results .sort-by {
      float: right;
      margin: 0; }
  section#primary-content .item {
    float: left;
    display: block;
    margin-right: 3.40245%;
    width: 29.83405%;
    border-color: #ddd;
    border-bottom-color: #bbb;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 9px;
    margin-bottom: 9px; }
    section#primary-content .item:last-child {
      margin-right: 0; }
    section#primary-content .item p {
      margin: 0;
      font-size: 12px;
      color: #555;
      padding: 0 5px; }
      section#primary-content .item p:hover {
        color: #464646; }
    section#primary-content .item img {
      height: 172px;
      width: 100%; }
    section#primary-content .item .meta-row {
      padding: 3px 5px 6px 5px;
      font-size: 12px; }
      section#primary-content .item .meta-row p {
        float: right;
        margin: 0;
        color: #78c042; }
      section#primary-content .item .meta-row a {
        color: #b2b2b2; }
  section#primary-content .related-to {
    clear: both;
    padding: 0 18px 0 0; }
    section#primary-content .related-to a {
      color: #0192B5;
      font-weight: normal;
      font-size: 13px; }
    section#primary-content .related-to h5 {
      font-size: 13px;
      font-weight: normal;
      color: #555;
      margin: 18px 0 0 0; }
      section#primary-content .related-to h5 strong {
        font-weight: bold; }
    section#primary-content .related-to .related-col {
      float: left;
      display: block;
      margin-right: 3.40245%;
      width: 18.75522%;
      line-height: 1.6; }
      section#primary-content .related-to .related-col:last-child {
        margin-right: 0; }
    section#primary-content .related-to p {
      clear: both;
      font-weight: normal;
      font-size: 13px;
      color: #555; }
    section#primary-content .related-to .pages {
      margin-top: 18px; }
      section#primary-content .related-to .pages a {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        font-size: 14px;
        font-weight: bold;
        height: 38px;
        margin-left: -5px;
        padding: 10px 12px;
        text-align: center;
        color: #555;
        display: inline-block;
        background-color: #fff; }

.footer {
  font-family: Arial,Helvetica,sans-serif; }
  .footer .footer1 {
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    padding: 23px 0 25px 0;
    margin: 28px 0 0 0; }
    .footer .footer1 p {
      margin: 0;
      color: #222;
      font-size: 13px;
      font-weight: normal;
      padding: 0 0 10px 0; }
    .footer .footer1 .email {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 14px;
      padding: 8px;
      width: 250px;
      box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset;
      border-radius: 3px;
      border: 1px solid #CFCBC8; }
    .footer .footer1 .subscribe {
      margin-left: 10px;
      min-width: 0;
      background-color: #34A8C4;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
      color: #FFF;
      font-size: 14px;
      font-weight: bold;
      height: 38px;
      padding: 8px 12px; }
      .footer .footer1 .subscribe:hover {
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 35%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, transparent 35%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        cursor: pointer; }
  .footer .footer2 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 14px 0;
    border-bottom: #E2E2E2 solid 1px; }
    .footer .footer2::after {
      clear: both;
      content: "";
      display: table; }
    .footer .footer2 .footerCol {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.11388%;
      line-height: 20px; }
      .footer .footer2 .footerCol:last-child {
        margin-right: 0; }
      .footer .footer2 .footerCol p {
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        padding: 4px 0; }
      .footer .footer2 .footerCol .open-shop {
        font-weight: normal;
        padding: 4px 11px;
        font-size: 13px;
        border: 1px solid;
        border-radius: 3px;
        border-color: #54acc7 #4ca0ba #398a9d;
        color: #FFF;
        line-height: normal;
        background: #4fa9c6; }
        .footer .footer2 .footerCol .open-shop:hover {
          background: -webkit-linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3);
          text-decoration: none; }
      .footer .footer2 .footerCol a {
        text-decoration: none;
        padding: 4px 0;
        color: #0192B5;
        font-size: 13px;
        font-weight: normal; }
        .footer .footer2 .footerCol a:hover {
          text-decoration: underline; }
  .footer .footer3 {
    padding: 28px 0 0 0;
    text-align: center; }
    .footer .footer3 .locale {
      font-size: 12px; }
      .footer .footer3 .locale a {
        padding: 8px 10px;
        color: #666;
        text-decoration: none;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        margin-left: -5px;
        font-weight: normal; }
        .footer .footer3 .locale a:hover {
          background: #CCE9F0;
          color: #0192B5;
          text-decoration: none; }
    .footer .footer3 .fin li {
      display: inline-block;
      padding: 0 7px;
      font-size: 12px;
      font-weight: normal; }
      .footer .footer3 .fin li p {
        color: #999; }
      .footer .footer3 .fin li a {
        color: #666;
        font-size: 12px;
        text-decoration: none; }
