@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";

$max-width: 1000px;

body {
  background-color: #F5F5F1;
  margin: 0;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  main {
    @include outer-container;
    margin-top: 30px;

    a {
      text-decoration: none;
    }
  }
}

// HEADER

header {
  background-color: #fff;
  padding: 20px 0 15px 0;

  .header-content{
    @include outer-container;
    font-family: Arial,sans-serif;

    .header-inner{
      @include span-columns(11.3);

      .logo {
        float: left;
      }

      .search-bar{

        float: left;

        .search {
          margin: 0 0 0 20px;
          padding: 0 0 2px 10px;
          border: 1px solid #bcb7b3;
          border-radius: 3px;
          border-right: none;
          background: #f9f9f8;
          height: 34px;
          font-size: 14px;
          box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;

          &:focus{
            outline: none;
            border: 1px solid #34A8C4;
            background: #FFF;
            box-shadow: 0 0 0 1000px #fff inset;
          }
        }

        .search-button{
          border-left: none;
          border-radius: 3px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          line-height: 17px;
          height: 34px;
          padding: 7px 15px 8px;
          background-color: #34A8C4;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          color: #FFF;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
          font-size: 14px;
          font-weight: bold;
          left: -5px;
          top: 1px;
          position: relative;
        }

        select{
          border: 1px solid #E5E5E5;
          border-radius: 3px;
          color: #666;
          background-color: #fff;
          font-size: 14px;
          height: 35px;
        }
      }



      .account-nav{
        margin: 0;
        float: right;

        li{
          display: inline-block;
        }

        a{
          color: #0192B5;
          text-decoration: none;
        }

        .register-link, .sign-in-link{
          padding: 8px;
          line-height: 16px;
          font-size: 14px;
          border-radius: 3px;
        }
        .register-link{
          margin-right: 7px;
          border: 1px solid transparent;

          &:hover{
            text-decoration: underline;
          }
        }

        .sign-in-link{
          margin-right: 18px;
          border: 1px solid #0192B5;;

          &:hover{
            background: #F0FBFD;
          }
        }

        .cart{

          span{
            color: #666;
          }

          .fa.fa-shopping-cart{
            font-size: 20px;
          }

          .text-link{
            color: #888;
            font-size: 12px;
          }
        }
      }

    }
  }
}

// SIDEBAR

#sidebar {
  @include span-columns(2.9);
  font-size: 13px;
  font-family: arial, sans-serif;

  a {
    color: #0192B5;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-weight: 600;
    color: #555;
    margin: 0;

    a {
      color: #555;
    }
  }

  .radio{
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }

  .heading {
    padding: 0 0 9px 0;
  }

  .categories{
    background-color: #fff;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    border-radius: 3px;
    padding: 12px 12px 0 12px;
    margin: 0 0 24px 0;

    li {
      padding: 0 0 6px 12px;
      line-height: 1.4;
    }
  }

  .refineSearch {
    background-color: #fff;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    border-radius: 3px;
    padding: 12px;
    line-height: 1.4;

    p {
      margin: 0 0 6px 0;
    }

    .searchType {
      padding: 0 0 18px 0;
      margin: 0 0 18px 0;
      border-bottom: 1px solid #E1E3DF;

      .price{
        padding: 9px 12px 9px 22px;
        border-radius: 3px;
        border-color: rgba(0, 0, 0, 0.15);
        border-top-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        height: 38px;
        width: 34%;
      }

      .submit{
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        color: #555;

        font-size: 14px;
        font-weight: bold;
        height: 38px;
        line-height: 1.4;
        padding: 8px 12px;
        text-align: center;
      }

      .colors {
        margin: 0;

        div  {
          border: 1px solid #e2e2e2;
          border-radius: 3px;
          height: 21px;
          width: 21px;
          padding: 1px;
        }

        #red{
          background-color: #f40b32;
        }

        #orange{
          background-color: #ff7f00;
        }

        #yellow{
          background-color: #f3cc0c;
        }

        #green{
          background-color: #0ac20a;
        }

        #blue{
          background-color: #0cccf3;
        }

        #purple{
          background-color: #a60cf3;
        }

        #black{
          background-color: #000;
        }

        li {
          display: inline-block;
        }
      }

      .checkbox{
        font-size: 16px;
      }

    }
    select{
      border-radius: 3px;
      border-color: rgba(0, 0, 0, 0.15);
      border-top-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 1px;
      background-color: #FFF;
      font-size: 14px;
      height: 38px;
      width: 100%;

      &:hover{
        border-color: #adaeaa;
      }
    }

  }
}

// ITEMS

section#primary-content {
  @include span-columns(8.4);
  float: right;
  font-family: Arial,sans-serif;

  .results{
    @include span-columns(8.1 of 8.4);
    font-size: 13px;
    color: #555;

    a {
      color: #0192B5;
    }

    .results-top{
      float: left;
      margin: 0;

      span{
        font-weight: bold;
      }
    }

    .sort-by{
      float: right;
      margin: 0;
    }
  }

  .item{
    @include span-columns(2.7 of 8.4);
    border-color: #ddd;
    border-bottom-color: #bbb;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 9px;
    margin-bottom: 9px;

    p {
      margin: 0;
      font-size: 12px;
      color: #555;
      padding: 0 5px;

      &:hover{
        color: #464646;
      }
    }

    img {
      height: 172px;
      width: 100%;
    }

    .meta-row {
      padding: 3px 5px 6px 5px;
      font-size: 12px;

      p {
        float: right;
        margin: 0;
        color: #78c042;
      }

      a {
        color: #b2b2b2;
      }

    }

  }

  .related-to{
    clear: both;
    padding: 0 18px 0 0;

    a{
      color: #0192B5;
      font-weight: normal;
      font-size: 13px;
    }

    h5{
      font-size: 13px;
      font-weight: normal;
      color: #555;
      margin: 18px 0 0 0;
      strong{
        font-weight: bold;
      }
    }

    .related-col{
      @include span-columns(1.8 of 8.4);
      line-height: 1.6;
    }

    p{
      clear: both;
      font-weight: normal;
      font-size: 13px;
      color: #555;
    }

    .pages{
        margin-top: 18px;

        a{
          border: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          font-size: 14px;
          font-weight: bold;
          height: 38px;
          margin-left: -5px;
          padding: 10px 12px;
          text-align: center;
          color: #555;
          display: inline-block;
          background-color: #fff;
        }
    }
  }



}

.footer {

  font-family: Arial,Helvetica,sans-serif;

  .footer1 {
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    padding: 23px 0 25px 0;
    margin: 28px 0 0 0;

    p {
      margin: 0;
      color: #222;
      font-size: 13px;
      font-weight: normal;
      padding: 0 0 10px 0;
    }

    .email{
      font-family: Helvetica,Arial,sans-serif;
      font-size: 14px;
      padding: 8px;
      width: 250px;
      box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;
      border-radius: 3px;
      border: 1px solid #CFCBC8;
    }

    .subscribe{
      margin-left: 10px;
      min-width: 0;
      background-color: #34A8C4;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
      color: #FFF;
      font-size: 14px;
      font-weight: bold;
      height: 38px;
      padding: 8px 12px;

      &:hover{
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 35%),-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 35%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        cursor: pointer;
      }
    }
  }

  .footer2{
    @include outer-container;
    padding: 15px 0 14px 0;
    border-bottom: #E2E2E2 solid 1px;

    .footerCol{
      @include span-columns(2.4 of 12);
      line-height: 20px;

      p{
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        padding: 4px 0;
      }

      .open-shop{
        font-weight: normal;
        padding: 4px 11px;
        font-size: 13px;
        border: 1px solid;
        border-radius: 3px;
        border-color: #54acc7 #4ca0ba #398a9d;
        color: #FFF;
        line-height: normal;
        background: #4fa9c6;

        &:hover{
          background: -webkit-linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3);
          text-decoration: none;
        }
      }

      a{
        text-decoration: none;
        padding: 4px 0;
        color: #0192B5;
        font-size: 13px;
        font-weight: normal;

        &:hover{
          text-decoration: underline;
        }
      }

    }
  }

  .footer3{
    padding: 28px 0 0 0;
    text-align: center;

    .locale{
      font-size: 12px;

      a{
        padding: 8px 10px;
        color: #666;
        text-decoration: none;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        margin-left: -5px;
        font-weight: normal;

        &:hover{
          background: #CCE9F0;
          color: #0192B5;
          text-decoration: none;
        }
      }
    }

    .fin{
      li{
        display: inline-block;
        padding: 0 7px;
        font-size: 12px;
        font-weight: normal;

        p{
          color: #999;
        }

        a{
          color: #666;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
}
